<div class="container">
            <div class="content">
            <h3>Zoom Task Manager</h3>
            <small style="color:#6C7A89; font-family: Verdana"> To-do List, Task List</small>
            <br />
            <hr />
            <form class="form-horizontal" role="form" name="form">
              <div class="form-group">
                <label class="control-label col-sm-2" for="description" style="color:#6C7A89; font-weight:normal; font-size: 18px">Description:</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" id="description" placeholder="What do you need to do?" ng-model="task.newTask" size="50">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="category" style="color:#6C7A89; font-weight:normal; font-size: 18px">Category:</label>
                <div class="col-sm-6">
                  <select id="category" ng-model="task.newTaskCategory" ng-options="obj.name for obj in categories">
                      <option  value="">Choose a category</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="duedate" style="color:#6C7A89; font-weight:normal; font-size: 18px">Due Date:</label>
                  <div class="col-sm-6">
                    <input type="date" class="form-control" id="duedate" ng-model="task.newTaskDate">
                  </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button class="btn btn-default" ng-click="addNew(task)"><i class="fa fa-plus icon"></i> Add Task</button>
                </div>
              </div>
            </form>
          </div>
  </div>
  <br />
  <hr />



<div class="container">
  <div class="form-group">
    <label class="control-label col-sm-2" for="search" style="color:#6C7A89; font-weight:normal; font-size: 18px">Search:</label>
      <div class="col-md-6">
        <input type="text" class="form-control" id="search" ng-model="searchText">
      </div>
  </div>
<br />
<br />
  <div class="row">
  <div class="col-md-3 cards"  style="background-color: #59ABE3;   width: 255px;"><span style="font-family: Verdana; font-size: 16px; color: #BDC3C7">Ideas</span>
          <br />
          <hr />
          <ul style="list-style-type: none; margin: 0px; padding: 0px">
            <li>
              <div class="panel panel-default" ng-repeat="idea in idea | filter: searchText" style=" margin-top: -10px; box-shadow: 4px 2px 2px grey;">
                <div class="panel-body" >{{idea.description}}</div>

                <div class="panel-footer">
                  <div><i class="fa fa-calendar"></i> {{idea.date | date : 'mediumDate'}}
                    <!-- Trigger the modal with a button -->
      <button type="button" data-toggle="modal" data-target="#myModal" style="float: right">Edit</button>

      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Edit Task</h4>
            </div>
            <div class="modal-body">
              <label for="description">Description: </label>
              <input type=text ng-model="idea.description" id="description"/>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
      </div>
                  </div>
                  <br/>
                  <a href=""  style="text-decoration :none; display: inline; margin: 2px" ng-click="addToCache(idea.description)">
                    <span class="glyphicon glyphicon-thumbs-up"></span> Likes {{getFromCache(idea.description)}}
                </a>
                <a href=""  style="text-decoration :none; display: inline; margin: 2px" ng-click="todoTask(idea)">
                  <i class="fa fa-plus-square"></i></i> To-Do
              </a>
                <a href=""  style="text-decoration :none; display: inline; margin: 2px" ng-click="deleteTask(idea)">
                  <i class="fa fa-remove"></i></i> Delete
              </a>


              </div>
            </li>
          </ul>



  </div>
  <div class="col-md-3 cards" style="width: 255px; background-color: #F22613"><span style="font-family: Verdana; font-size: 16px; color: #BDC3C7">To-Do</span>
    <br />
    <hr />
    <ul style="list-style-type: none; margin: 0px; padding: 0px;" >
      <li>
        <div class="panel panel-default" ng-repeat="todo in todo | filter: searchText" style=" margin-top: -10px; box-shadow: 4px 2px 2px grey;">
          <div class="panel-body">{{todo.description}}</div>
          <div class="panel-footer">
            <div><i class="fa fa-calendar"></i> {{todo.date | date : 'mediumDate'}}
              <!-- Trigger the modal with a button -->
<button type="button" data-toggle="modal" data-target="#myModal" style="float: right">Edit</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Task</h4>
      </div>
      <div class="modal-body">
        <label for="description">Description: </label>
        <input type=text ng-model="todo.description" id="description"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
            </div>
            <br/>
            <a href=""  style="text-decoration :none; display: inline; margin: 2px" ng-click="addToCache(todo.description)">
              <span class="glyphicon glyphicon-thumbs-up"></span> Likes {{getFromCache(todo.description)}}
          </a>
          <a href=""  style="text-decoration :none; display: inline; margin: 2px" ng-click="doingTask(todo)">
            <i class="fa fa-wrench"></i></i> Doing
        </a>



          <a href=""  style="text-decoration :none; display: inline; margin: 2px" ng-click="deleteTask(todo)">
            <i class="fa fa-remove"></i></i> Delete
        </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-3 cards" style="width: 255px; background-color: #F4D03F"><span style="font-family: Verdana; font-size: 16px; color: #BDC3C7">Doing</span>
    <br />
    <hr />
    <ul style="list-style-type: none; margin: 0px; padding: 0px">
      <li>
        <div class="panel panel-default" ng-repeat="doing in doing | filter: searchText" style=" margin-top: -10px; box-shadow: 4px 2px 2px grey;">
          <div class="panel-body">{{doing.description}}</div>
          <div class="panel-footer">
            <div><i class="fa fa-calendar"></i> {{doing.date | date : 'mediumDate'}}
              <!-- Trigger the modal with a button -->
<button type="button" data-toggle="modal" data-target="#myModal" style="float: right">Edit</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Task</h4>
      </div>
      <div class="modal-body">
        <label for="description">Description: </label>
        <input type=text ng-model="doing.description" id="description"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

            </div>
            <br/>
            <a href=""  style="text-decoration :none; display: inline; margin: 2px" ng-click="addToCache(doing.description)">
              <span class="glyphicon glyphicon-thumbs-up"></span> Likes {{getFromCache(doing.description)}}
          </a>

          <a href=""  style="text-decoration :none; display: inline; margin: 2px" ng-click="completeTask(doing)">
            <i class="fa fa-check"></i></i> Done
        </a>

          <a href=""  style="text-decoration :none; display: inline; margin: 2px" ng-click="deleteTask(doing)">
            <i class="fa fa-remove"></i></i> Delete
        </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="col-md-3 cards" style="width: 255px; background-color: #03A678"><span style="font-family: Verdana; font-size: 16px; color: #BDC3C7">Completed</span>
    <br />
    <hr />
    <ul style="list-style-type: none; margin: 0px; padding: 0px">
      <li>
        <div class="panel panel-default" ng-repeat="completed in completed | filter: searchText" style=" margin-top: -10px; box-shadow: 4px 2px 2px grey;">
          <div class="panel-body">{{completed.description}}</div>
          <div class="panel-footer">
            <div><i class="fa fa-calendar"></i> {{completed.date | date : 'mediumDate'}}
              <!-- Trigger the modal with a button -->
<button type="button" data-toggle="modal" data-target="#myModal" style="float: right">Edit</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Task</h4>
      </div>
      <div class="modal-body">
        <label for="description">Description: </label>
        <input type=text ng-model="completed.description" id="description"/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

            </div>
            <br/>
            <a href=""  style="text-decoration :none; display: inline; margin: 2px" ng-click="addToCache(completed.description)">
              <span class="glyphicon glyphicon-thumbs-up"></span> Likes {{getFromCache(completed.description)}}
          </a>

        <a href=""  style="text-decoration :none; display: inline; margin: 2px" ng-click="deleteTask(completed)">
          <i class="fa fa-remove"></i></i> Delete
      </a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

</div>
